---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div>
		<a href="/">Home</a>
	Hello World
	<div>
		<svg fill="none" width="30" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" transition:animate="slide">
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M4 6h16M4 12h16M4 18h16"
			></path>
		</svg>
	</div>
	</div>
</Layout>
